<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Sports Predictor App!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/predictions">Predictions</a></li>
        </ul>
    </nav>
    <section>
        <p>home page.</p>
    </section>
    <footer>
        <p>&copy; 2023 Sports Predictor</p>
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
